.dailyforecasts{
    &--card{
        &__container {
            text-align: center;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: .2rem .5rem;
            padding: 1rem 1rem;
            box-sizing: border-box;

            .weather-icon {
                img {
                    width: 3rem;

                }
            }

            .description {
                text-transform: capitalize;
                font-size: 1.2rem;
            }

            &.active {
                border: 2px solid #3DA9E9;
            }
        }
    }
}