.line {
    fill: none;
    stroke: #a2c0d9;
    stroke-width: 2px;
}
.area {
    fill: url(#area-gradient);
    stroke-width: 0px;
}

.area2 {
    fill: #666667
}

.line {
    stroke: #99999A;
    stroke-width: 2px;
}

#sunset-axis {
    .tick {
        line {
            stroke: #f3af36;
            stroke-width: 2px;
        }
    }

    &.dark {
        .tick {
            line {
                stroke: #cccccc;
            }
        }
    }

    .domain {
        opacity: 0;
    }
}

#sun {
    path.sun-leg {
        fill: #F3AF36;

        &.dark {
            fill: #666667;
        }
    }
}

#bottom-axis {
    .domain,
    line {
        stroke: #9a9a9c;
    }

    .tick {
        stroke-width: 0.3px;

        &:first-of-type {
            text {
                transform: translateX(10px);
            }
        }
        &:last-of-type {
            text {
                transform: translateX(-15px);
            }
        }
    }
}
